.contacts__div{
    width: 100%;
}

.contacts__ul1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contacts_ul1ul2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contacts__ul2_li{
    width: 100px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contacts__ul2_li:hover{
    cursor: pointer;
    transform: scale(1.1);
}