.education__div{
width: 100%;
}

.education__ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
}


.education__li{
display: flex;
flex-direction: column;
align-items: center;
}

.education__img{
    width: 200px;
    border-radius: 2rem;
}

.education__span1{
    font-size: 2rem;
}