.app__div{
    width: 80vw;
    margin: 4rem;
    background-color: rgba(226, 66, 66, 0.349);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.app__header{
    width: 80vw;
    height: 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 2rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(10px);
}

.appheader__h1{
    color: rgb(255, 255, 255);
    font-size: 3vw;
}

.app__btn-l{
    border-radius: 2rem;
    width: 4vw;
    height: 2vw;
    border: none;
    font-size: 0.8vw;
}

.app__btn-cv{
    border: none;
    border-radius: 1rem;
    width: 4vw;
    height: 2vw;
    min-height: 1.5vh;
    font-size: 2vw;
}

.appheader__ul{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.apphul__li{
    width: 3vw;
}